TinkoffCalculator/TinkoffCalculator.xcodeproj/project.xcworkspace/xcuserdata/kirichenkoa.xcuserdatad/UserInterfaceState.xcuserstate
TinkoffCalculator/TinkoffCalculator.xcodeproj/xcuserdata/kirichenkoa.xcuserdatad/xcschemes/xcschememanagement.plist
